@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.dark {
    --foreground-rgb: 224, 224, 224;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 18, 18, 18;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.side-panel {
    @apply bg-blue-900 dark:bg-gray-800;
}

.side-panel a {
    @apply text-white transition-all duration-200 ease-in-out;
}

.side-panel a:hover {
    @apply bg-blue-800 dark:bg-gray-700;
}
